

.board-container {

  justify-content: center;
  align-items: center;
  display: flex;
}

.board {
  display: grid;
  grid-template-columns: repeat(21, 40px);
  grid-template-rows: repeat(21, 40px);
}
.bordered-full {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}


.board-container {

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.dice-container {
  display: flex;
}

.game-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-right: 300px;
  margin-top: 100px;
}

