
<div class="board-container">
  <div *ngFor="let row of board; let rowIndex = index" class="board-row">
    <ng-container *ngFor="let cell of row; let colIndex = index">
      <app-square-safe *ngIf="isSquareSafe(cell) && !isSquareExit(cell)"
                       [cellValue]="cell.value"
                       [cellColor]="cell.color"
                       (cellClick)="handleCellClick(rowIndex, colIndex)">
        <ng-container *ngFor="let piece of cell.getPieces()">
          <app-piece [color]="piece.color"></app-piece>
        </ng-container>
      </app-square-safe>
      <app-square-exit *ngIf="isSquareExit(cell)"
                       [cellValue]="cell.value"
                       [cellColor]="cell.color"
                       (cellClick)="handleCellClick(rowIndex, colIndex)">
        <ng-container *ngFor="let piece of cell.getPieces()">
          <app-piece [color]="piece.color"></app-piece>
        </ng-container>
      </app-square-exit>
      <app-square *ngIf="!isSquareSafe(cell) && !isBorder(cell) && !isHome(cell)"
                  [cellValue]="cell.value"
                  [cellColor]="cell.color"
                  (cellClick)="handleCellClick(rowIndex, colIndex)">
        <ng-container *ngFor="let piece of cell.getPieces()">
          <app-piece [color]="piece.color"></app-piece>
        </ng-container>
      </app-square>
      <app-border *ngIf="isBorder(cell)"></app-border>
      <app-home-square *ngIf="isHome(cell)"
        [cellColor]="cell.color">
        <ng-container *ngFor="let piece of cell.getPieces()">
          <app-piece [color]="piece.color"></app-piece>
        </ng-container>
      </app-home-square>
    </ng-container>
  </div>

</div>
