<div class="board-container">
  <div *ngFor="let row of board; let rowIndex = index" class="board-row">
    <ng-container *ngFor="let cell of row; let colIndex = index">
      <app-square-safe *ngIf="isSquareSafe(cell) && !isSquareExit(cell) && !isGoal(cell)"
                       [cellValue]="cell.value"
                       [cellColor]="cell.color">
        <ng-container *ngFor="let piece of cell.getPieces()">
          <app-piece [color]="piece.color"
                     (pieceClick)="handlePieceClick(piece)"></app-piece>
        </ng-container>
      </app-square-safe>
      <app-square-exit *ngIf="isSquareExit(cell)"
                       [cellValue]="cell.value"
                       [cellColor]="cell.color">
        <ng-container *ngFor="let piece of cell.getPieces()">
          <app-piece [color]="piece.color"
                     (pieceClick)="handlePieceClick(piece)"></app-piece>
        </ng-container>
      </app-square-exit>
      <app-goal *ngIf="isGoal(cell)" [pieces]="cell.getPieces()">
      </app-goal>
      <app-square *ngIf="!isSquareSafe(cell) && !isSquareExit(cell) && !isHome(cell) && !isGoal(cell)"
                  [cellValue]="cell.value"
                  [cellColor]="cell.color">
        <ng-container *ngFor="let piece of cell.getPieces()">
          <app-piece [color]="piece.color"
                     (pieceClick)="handlePieceClick(piece)"></app-piece>
        </ng-container>
      </app-square>
      <app-home-square *ngIf="isHome(cell)"
                       [cellColor]="cell.color">
        <ng-container *ngFor="let piece of cell.getPieces()">
          <app-piece [color]="piece.color"></app-piece>
        </ng-container>
      </app-home-square>
    </ng-container>
  </div>
</div>
